<%- model_class = L -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:a) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @ls.each do |l| %>
      <tr>
        <td><%= link_to l.id, l_path(l) %></td>
        <td><a href=http://hz.58.com/zufang/<%= l.a %>x.html>某经纪人发布的<%=l.a%></a></td>
        <td><%=l l.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_l_path,
            :class => 'btn btn-primary' %>
